
.stApp {
    background-color: #121620;
}
.stHeader {
    background-color: #1E2338;
}


/* Estilos para la clase fco con alta especificidad */
body .stApp .fco,
.stApp .fco, 
html body div.fco,
div.fco {
  background-color: #999 !important;
  display: flex !important;
  align-items: center !important;
}

.stHorizontalBlock2  {
    border-bottom: 1px solid #ccc;
}

.table-header{
  color:#D3D3D3;
  font-weight: bold;
}
.fly-data{
  color:#D3D3D3;
  font-weight: bold;
}
.fly-data-detail{
  color:#A9A9A9;
  font-weight: bold;
}
.data-ok {
  color: #2bb534 !important; /* Green for correct items */
  font-weight: bold;
}
.data-missing {
  color: #f89256 !important; /* Orange for missing items */
  font-weight: bold;
}
.data-excess {
  color: #dfb52c !important; /* Yellow for excess items */
  font-weight: bold;
}
/* Estilos para la tabla paginada */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent overlay */
  z-index: 9999; /* Ensure it's on top */
}


div[data-testid="stExpander"] details summary {
  background-color: rgb(129, 126, 126) !important;
  /* If the summary itself doesn't take the background, try its parent <details> */
  /* or the main expander div if necessary, but start with summary */
}